[
  {server, [
    {cacertfile, "/tls-cluster/ca_certificate.pem"},
    {certfile,   "/tls-cluster/cert.pem"},
    {keyfile,    "/tls-cluster/server_key.pem"},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true}
  ]},
  {client, [
    {cacertfile, "/tls-cluster/ca_certificate.pem"},
    {certfile,   "/tls-cluster/client_certificate.pem"},
    {keyfile,    "/tls-cluster/client_key.pem"},
    {secure_renegotiate, true},
    {verify, verify_peer}
  ]}
].
