---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: "cicd-ansible"
resources:
  - https://raw.githubusercontent.com/tektoncd/catalog/refs/heads/main/task/git-clone/0.10/git-clone.yaml
  - namespace.yaml
  - rbac.yaml
  - tekton-task-vault-login.yaml
  - tekton-task-ssh-key-generate.yaml
  - tekton-task-ssh-key-sign.yaml
  - tekton-task-ansible-run-playbook.yaml
  - tekton-pipeline.yaml
