---
apiVersion: "kustomize.config.k8s.io/v1beta1"
kind: "Kustomization"
resources:
  - "https://github.com/kubernetes-sigs/external-dns/kustomize?ref=v0.20.0"
patches:
  - target:
      kind: "Deployment"
      name: "external-dns"
    patch: |-
      - op: "add"
        path: "/metadata/annotations"
        value:
          reloader.stakater.com/auto: "true"
      - op: "add"
        path: "/spec/template/metadata/annotations"
        value:
          prometheus.io/scrape: "true"
          prometheus.io/port: "7979"
