---
modules:
  dns_soerenschneider:
    prober: "dns"
    dns:
      query_name: "router.ez.soeren.cloud"
      query_type: "A"
      validate_answer_rrs:
        fail_if_not_matches_regexp:
          - "router.ez.soeren.cloud.\t.*\tIN\tA\t.*192\\.168\\.2\\.3"

  dns_dot_ffmuc:
    prober: "dns"
    timeout: "5s"
    dns:
      preferred_ip_protocol: "ip4"
      query_name: "www.prometheus.io"
      query_type: "A"
      transport_protocol: "tcp"
      dns_over_tls: true
      tls_config:
        insecure_skip_verify: false
        server_name: "dot.ffmuc.net"

  dns_dot_dg:
    prober: "dns"
    timeout: "5s"
    dns:
      preferred_ip_protocol: "ip4"
      query_name: "www.prometheus.io"
      query_type: "A"
      transport_protocol: "tcp"
      dns_over_tls: true
      tls_config:
        insecure_skip_verify: false
        server_name: "dns.digitale-gesellschaft.ch"

  http:
    http:
      tls_config:
        cert_file: "/certs/tls.crt"
        key_file: "/certs/tls.key"
      valid_status_codes:
        - 200
        - 204
        - 301
        - 302
        - 403
        - 404
    prober: "http"
    timeout: "5s"
  http_2xx:
    prober: "http"
    timeout: "5s"

  icmp:
    icmp:
      preferred_ip_protocol: ip4
    prober: icmp
    timeout: 2s
  tcp_cert:
    prober: tcp
    tcp:
      tls: true
    timeout: 2s
  tcp_connect:
    prober: tcp
    timeout: 2s
