---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: onlyoffice
  labels:
    app: onlyoffice
    app.kubernetes.io/name: onlyoffice
    app.kubernetes.io/instance: onlyoffice
    app.kubernetes.io/component: app
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: onlyoffice
      app.kubernetes.io/name: "onlyoffice"
      app.kubernetes.io/instance: "onlyoffice"
      app.kubernetes.io/component: "app"
  template:
    metadata:
      labels:
        app: "onlyoffice"
        app.kubernetes.io/part-of: "onlyoffice"
        app.kubernetes.io/name: "onlyoffice"
        app.kubernetes.io/instance: "onlyoffice"
        app.kubernetes.io/component: "app"
    spec:
      securityContext:
        runAsUser: 21473
        runAsGroup: 21473
        fsGroup: 21473
        seccompProfile:
          type: "RuntimeDefault"
      containers:
        - name: "onlyoffice"
          image: "onlyoffice/documentserver:9.3.0"
          imagePullPolicy: "IfNotPresent"
          envFrom:
            - configMapRef:
                name: "onlyoffice"
            - secretRef:
                name: "onlyoffice"
                optional: true
          ports:
            - name: "onlyoffice"
              containerPort: 8080
              protocol: "TCP"
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 21473
            runAsGroup: 21473
            seccompProfile:
              type: "RuntimeDefault"
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: "/status.php"
              port: "onlyoffice"
              httpHeaders:
                - name: "Host"
                  value: "onlyoffice"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: "/status.php"
              port: "onlyoffice"
              httpHeaders:
                - name: "Host"
                  value: "onlyoffice"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          resources:
            requests:
              memory: "512Mi"
              cpu: "50m"
            limits:
              memory: "1024Mi"
          volumeMounts:
            - name: "storage"
              mountPath: "/var/www/onlyoffice/Data"
            - name: "var-run"
              mountPath: "/var/run"
      volumes:
        - name: "storage"
          emptyDir:
            sizeLimit: "5Gi"
        - name: "var-logs"
          emptyDir:
            sizeLimit: "1Gi"
        - name: "var-run"
          emptyDir:
            sizeLimit: "1Gi"
