---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: "navidrome"
resources:
  - namespace.yaml
  - external-secret-samba.yaml
  - samba.yaml
  - ../../../../apps/navidrome
components:
  - ../../../../apps/navidrome/components/istio
  - ../../../../apps/navidrome/components/pvc
patches:
  - target:
      kind: "VirtualService"
      name: "navidrome"
    patch: |-
      - op: "replace"
        path: "/spec/hosts"
        value:
          - "navidrome.svc.ez.soeren.cloud"
  - target:
      kind: Deployment
      name: navidrome
    patch: |
      - op: "test"
        path: "/spec/template/spec/volumes/1/name"
        value: "music"
      - op: "replace"
        path: "/spec/template/spec/volumes/1"
        value:
          name: "music"
          persistentVolumeClaim:
            claimName: "music"
