---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cicd
resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/tektoncd/catalog/refs/heads/main/task/git-clone/0.10/git-clone.yaml
  - task-build.yaml
  - task-signify.yaml
  - task-upload.yaml
  - pipeline.yaml
  - external-secret-github.yaml
  - external-secret-signify.yaml
