---
name: Validate Manifests
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
    paths-ignore:
      - "README.md"

jobs:
  validate-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate Manifests
        run: |
          ./contrib/validate-kustomize.sh
